<% content_for :title, "Log In" %>

<div class="container mt-5" style="max-width: 500px;">
  <h1 class="mb-4 text-center text-primary">🔐 Log In</h1>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

 <%= form_with url: login_path, local: true do |f| %>
  <div>
    <%= label_tag :email, "Email", class: "form-label" %>
    <%= email_field_tag :email, nil, class: "form-control mb-3" %>
  </div>

  <div>
    <%= label_tag :password, "Password", class: "form-label" %>
    <%= password_field_tag :password, nil, class: "form-control mb-3" %>
  </div>

  <%= submit_tag "Log In", class: "btn btn-primary w-100" %>
<% end %>

  <div class="mt-3 text-center">
    <%= link_to "Don't have an account? Sign Up", new_user_path, class: "btn btn-link" %>
  </div>
</div>
